<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let chat of _cs.chats"
[ngClass]="{'text-right': _cs.usuario.uid==chat.uid}"
  >
    <span class="badge "
[ngClass]="{'badge-primary': _cs.usuario.uid==chat.uid, 'badge-success': _cs.usuario.uid != chat.uid}"
    >{{chat.nombre}}</span>
    <p>{{chat.mensaje}}</p>
  </div>

<!--<div class="text-right">
  <span class="badge badge-primary">Yordi</span>
  <p>Este es un mensaje de chat</p>
</div>
<div class="">
  <span class="badge badge-success">Maria</span>
  <p>Salut</p>
</div>
-->
</div>

<input (keyup.enter)="enviarMensaje()"
type="text" name="mensaje"
class="form-control"
[(ngModel)]="mensaje" placeholder="Enviar mensaje">
